<div class="container-fluid p-0">
  <div class="row m-0">
    <!-- Navbar -->
    <div class="col-12 px-0 borde-ancho">
      <app-navbarbw></app-navbarbw>
    </div>
  </div>
  <div class="row m-0">
    <!-- Sidebar -->
    <div class="col-2 p-0 d-flex flex-column vh-100">
      <app-sidebarbw class="flex-grow-1"></app-sidebarbw>
    </div>
    <!-- Main Content -->
    <div class="col-10 p-0 d-flex flex-wrap">
      <!-- Aquí puedes colocar el contenido principal -->

      <div class="container mt-4">
        <div>
          <h5>Cuenta de Ahorros</h5>
        </div>
        <br />
        <div class="row">
          <div *ngFor="let cuenta of cuentasAhorro" class="col-md-6">
            <a
              [routerLink]="['/movimientos', cuenta.id]"
              class="card text-dark custom-card mb-3 card-link"
            >
              <div class="card-header d-flex justify-content-between">
                <span>{{ cuenta.tipo }}</span>
                <span class="second-span">{{ cuenta.numero }}</span>
              </div>
              <div class="card-body">
                <div class="d-flex justify-content-between">
                  <div>
                    <p class="card-text">Disponible:</p>
                  </div>
                  <div>
                    <p class="card-text">{{ cuenta.disponible | currency }}</p>
                  </div>
                </div>
              </div>
            </a>
          </div>
        </div>
        <br />
        <div>
          <h5>Créditos</h5>
        </div>
        <br />
        <div class="row">
          <div *ngFor="let credito of creditos" class="col-md-6">
            <a
              [routerLink]="['/info-credito', credito.id]"
              class="card text-dark custom-card mb-3 card-link"
            >
              <div class="card-header d-flex justify-content-between">
                <span>{{ credito.tipo }}</span>
                <span class="second-span">{{ credito.numero }}</span>
              </div>
              <div class="card-body">
                <div class="d-flex justify-content-between">
                  <div>
                    <p class="card-text">Disponible</p>
                    <p class="card-text">Fecha de Pago</p>
                  </div>
                  <div>
                    <p class="card-text">{{ credito.disponible | currency }}</p>
                    <p
                      class="card-text"
                      style="color: black; font-weight: normal"
                    >
                      {{ credito.fechaPago | date }}
                    </p>
                  </div>
                </div>
              </div>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
