<div class="container-fluid p-0">
    <div class="row m-0">
        <!-- Navbar -->
        <div class="col-12 px-0 borde-ancho">
            <app-navbarbw></app-navbarbw>
        </div>
    </div>
    <div class="row m-0">
        <!-- Sidebar -->
        <div class="col-2 p-0 d-flex flex-column vh-100">
            <app-sidebarbw class="flex-grow-1"></app-sidebarbw>
        </div>
        <!-- Main Content -->
        <div class="col-10 p-0 d-flex flex-wrap">
            <!-- Aquí puedes colocar el contenido principal -->
            <div class="container mt-4">
              <div>
                <h5>Cuenta de Ahorros</h5>
              </div><br>
              <div class="row">
                <div class="col-md-6">
                  <a href="/movimientos" class="card text-dark custom-card mb-3 card-link">
                    <div class="card-header d-flex justify-content-between">
                      <span>Cuenta Ahorro Tradicional</span>
                      <span class="second-span">2234097482</span>
                    </div>
                    <div class="card-body">
                      <div class="d-flex justify-content-between">
                        <div>
                          <p class="card-text">Disponible:</p>
                        </div>
                        <div>
                          <p class="card-text">$100,35</p>
                        </div>
                      </div>
                    </div>
                  </a>
                </div>
              </div>
              <br>
              <div><h5>Créditos</h5></div><br>
            
              <div class="row">
                <div class="col-md-6">
                  <a href="/info-credito" class="card text-dark custom-card mb-3 card-link">
                    <div class="card-header d-flex justify-content-between">
                      <span>Crédito Educativo</span>
                      <span class="second-span">9876543210</span>
                    </div>
                    <div class="card-body">
                      <div class="d-flex justify-content-between">
                        <div>
                          <p class="card-text">Disponible</p>
                          <p class="card-text">Fecha de Pago</p>
                        </div>
                        <div>
                          <p class="card-text">$500,00</p>
                          <p class="card-text" style="color: black; font-weight:normal;">20/12/2023</p>
                        </div>
                      </div>
                    </div>
                  </a>
                </div>
            
                <div class="col-md-6">
                  <a href="/otra-pagina" class="card text-dark custom-card mb-3 card-link">
                    <div class="card-header d-flex justify-content-between">
                      <span>Crédito Vehicular</span>
                      <span class="second-span">1234567890</span>
                    </div>
                    <div class="card-body">
                      <div class="d-flex justify-content-between">
                        <div>
                          <p class="card-text">Disponible</p>
                          <p class="card-text">Fecha de Pago</p>
                        </div>
                        <div>
                          <p class="card-text">$750,00</p>
                          <p class="card-text" style="color: black; font-weight:normal;">05/01/2024</p>
                        </div>
                      </div>
                    </div>
                  </a>
                </div>
              </div>
            </div>
            
        </div>
    </div>
</div>
